<!--
  templateType: page
  label: Flexible Page
  isAvailableForNewContent: true
  screenshotPath:
-->
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ standard_header_includes }}

  <title>{{ content.html_title }}</title>
  {% if content.meta_description %}
    <meta name="description" content="{{ content.meta_description }}">
  {% endif %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  {{ require_css(get_asset_url("css/main.css")) }}
  {{ require_css(get_asset_url("css/layout.css")) }}
  {{ require_css(get_asset_url("css/components.css")) }}
</head>

<body>

  {% module "site_header"
     path="@theme/modules/global/header.module" %}

  <main id="main-content">

    {% dnd_area "main_content" label="Page Content" %}
    {% enddnd_area %}

  </main>

  {% module "site_footer"
     path="@theme/modules/global/footer.module" %}

  {{ require_js(get_asset_url("js/main.js")) }}
  {{ standard_footer_includes }}

</body>
</html>
